/* .module_row_1 .module_column_0.tb_99_column Style */
.module_row_1 .module_column_0.tb_99_column.module_column {
	text-align: center
}

/* .sub_column_post_99.sub_column_1-0-1-1 Style */
.sub_column_post_99.sub_column_1-0-1-1.sub_column {
	text-align: left
}

/* .sub_column_post_99.sub_column_1-0-2-1 Style */
.sub_column_post_99.sub_column_1-0-2-1.sub_column {
	text-align: left
}

.themify_builder .text-99-sub_row_1-0-2-1-0.module-text { text-align: center;  } 
