/* .themify_builder_65_row.module_row_0 Style */
.themify_builder_65_row.module_row_0.module_row {
	padding-top : 0%;
	padding-bottom : 0%
}

.themify_builder .text-65-0-0-1.module-text { padding-left: 8%;  } 
.themify_builder .text-65-0-1-1.module-text { font-size: 1.3em; text-align: center;  } 
/* .themify_builder_65_row.module_row_1 Style */
.themify_builder_65_row.module_row_1.module_row {
	padding-top : 0%;
	padding-bottom : 0%
}

.themify_builder .text-65-1-0-1.module-text { padding-left: 8%;  } 
.themify_builder .image-65-sub_row_1-1-2-0-0.module-image { padding-top: 10%; padding-bottom: 10px;  } 
.themify_builder .image-65-sub_row_1-1-2-1-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_1-1-2-2-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
/* .themify_builder_65_row.module_row_2 Style */
.themify_builder_65_row.module_row_2.module_row {
	padding-top : 0%;
	padding-bottom : 0%
}

.themify_builder .image-65-sub_row_2-1-1-0-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-1-1-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-1-2-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-2-0-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-2-2-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-3-0-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-3-1-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
.themify_builder .image-65-sub_row_2-1-3-2-0.module-image { padding-top: 10%; padding-bottom: 10%;  } 
